.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
build/
dist/
*.egg-info/
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
.venv-opik/
*.opik-key
*.sqlite3
*.db
*.log
config.json
events.json
work/
